$primary-color: #007fc3;
$secondary-color: #444c52;

$font-family-body: 'Roboto', sans-serif;
$font-family-heading: 'Roboto', sans-serif;

$spacing: 1rem;


$border-radius: 0.4rem;

$box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);