@import "@styles/variables.scss";

.wrapper {
  display: grid;
  gap: 0.2rem;

  button {
    border: thin solid $primary-color;
    border-radius: 4px;
    background-color: $primary-color;
    color: #fff;
    padding: 0.5em 1em;
    cursor: pointer;
  }

  &__disabled {
    button {
      border: thin solid $tertiary-color;
      background-color: $tertiary-color;
      color: #dad5d5;
      cursor: not-allowed;
    }
  }
}
