@import "@styles/variables.scss";

.wrapper {
  display: grid;
  gap: 0.2rem;

  button {
    border: thin solid $primary-color;
    border-radius: 4px;
    background-color: $primary-color;
    color: #fff;
    padding: 0.5em 1em;

    &:hover {
      cursor: pointer;
    }
  }
}
